<!DOCTYPE html>
<html>
<head><style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}</style>



    <style>
p.a {
  font: bold 25px Arial, sans-serif;
  color:white;
  line-height: 1.8;
}

p.b {
  font: bold 20px Georgia, serif;
  color: white
  line-height: 1.8;
}
</style>

<title>Book My Trip Flat Responsive Widget Template :: w3layouts</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Book My Trip web template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<!-- stylesheet -->
<link href="static/css/style4.css" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Asap:400,400i,500,500i,700,700i" rel="stylesheet">
<!-- //stylesheet -->
</head><ul>

                            <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/add_bus">Add Bus</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/bus_no">Add Time</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/update_time">Update</a>
                        </li>

                         <li class="nav-item">
                             <a class="nav-link btn-outline-primary rounded-pill px-3" href="/">Logout</a>
                        </li>
</ul>

<body class="bg agileinfo">
<h1 class="agile_head text-center"><b>MY PROFILE</b></h1>
     <div class="container w3">
			<div class="section_class_agileits ">
			<div class="list_agileits_w3layouts">
			<div class="clear">




<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1" class="agile_form">
  <table class="table table-striped">
    <tr>
        <td><p class="a">NAME  &nbsp;</p> </td>
      <td><p class="b">{{ data["name"] }}&nbsp;</td>
    </tr>
    <tr>
      <td><p class="a">PHONE </td>
       <td><p class="b">{{ data["phone"] }}&nbsp;</td>
    </tr>
    <tr>
      <td><p class="a">EMAIL </td>
       <td><p class="b">{{ data["email"] }}&nbsp;</td>
    </tr>
    <tr>
      <td><p class="a">OWNER </td>
       <td><p class="b">{{ data["owner"] }}&nbsp;</td>
    </tr>
    <tr>
      <td><p class="a">USERNAME &nbsp;&nbsp;</td>
       <td><p class="b">{{ data["username"] }}&nbsp;</td>
    </tr></p>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</div>

              <link rel="stylesheet" href="static/css/jquery-ui1.css" />
		<script src="static/js/jquery-ui.js"></script>
			<script>
				$(function() {
				$( "#datepicker,#datepicker1" ).datepicker();
				});
			</script>
<!-- /End-date-piker -->
</body>
</html>